.idea
/src
.prettierrc
.github
.prettierignore
eslint.config.mjs
rollup.config.js
/coverage

# Build and development files
rollup.config.js
tsconfig.json
temp/
CODE_OF_CONDUCT.md
CONTRIBUTING.md
SECURITY.md